<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
            </serviceBehaviors>
        </behaviors>
        <services>
        </services>
    </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing"
     propagateActivity="true">

        <listeners>
          <add name="xml"></add>

          <add initializeData="..\Tracing1.svclog" type="System.Diagnostics.XmlWriterTraceListener"  name="trace"  />

        </listeners>

      </source>

      <source name="System.ServiceModel.MessageLogging" >
        <listeners>
          <add name="xml"></add>

          <add type="System.Diagnostics.XmlWriterTraceListener"
       initializeData="..\MessageLog1.svclog" name="message">
            <filter type=""/>

          </add>


        </listeners>
      </source>

    </sources>

    <sharedListeners>
      <add initializeData="..\TracingAndLogging-service.svclog" type="System.Diagnostics.XmlWriterTraceListener"
      name="xml"/>
    </sharedListeners>
    <trace autoflush="false" />
    <!--autoflush = true log -->
  </system.diagnostics>
  
</configuration>
